<div>
  <h2>Book detail</h2>
  <p>ユーザーアイコン<br>
    ユーザー名（リンクあり）
  </p>
  <p>タイトル：<%=@book.title %></p>
  <p>opinion：<%= @book.body %></p>
  <p>Edit</p>
  <% if @book.user == current_user %>
    <%= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" => "本当に削除しますか？" %>
  <% end %>

</div>